<!DOCTYPE html>
<html>
    <head>
        <title>EchoChamber SMEC</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="master.css">
        <link rel="stylesheet" href="../style.css">
        <link rel="stylesheet" href="../master.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>
    <body>
        <header>
            <nav id="navbar">
                <h2  id="nav-branding"><b>EchoChamber</b><h2>
                <ul class="nav-menu">
                    <li class="nav-item">
                        <a href="/" id="nav-link">Home</a>
                    </li>


                    <li class="nav-item">
                        <a href="delete.html" id="nav-link">Delete</a>
                    </li>
                    <li class="nav-item">
                        <form action="/user/data" method="post">
                       <input type="submit" value="Sign Out" onclick="signOutUser()">
                    </form>
                    </li>
                </ul>
                <div class="hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <!-- <span class="bar"></span> -->
                </div>
            </nav>
        </header>
        
<div class="jumbotron text-center">
    <h1>Upload!</h1>
    </div>
    <div class="col-sm-4 col-md-11 col-lg-12" style="display:flexbox; text-align:center; justify-content:center; align-items:center; padding:50px; ">
    <h1>Upload Something new:</h1 >    
    <form id="upload-form" action="/api/upload" method="post" name="Atyab" class="col-sm-4 col-md-11 col-lg-12" style="text-align: center; border:2px solid black; padding:10px; border-radius: 30px; margin:10px; background-color: rgb(222, 240, 248); box-shadow: 0px 5px 10px rgba(0, 0, 0, 1);" style="display:flexbox; text-align:center; justify-content:center; align-items:center; padding:50px; " >
        <label for="title">Name: </label><br>
        <input name="title" readonly style="text-align: center;"><br>
        <label for="content">Message:</label><br>
        <textarea id="content" name="content" style="width: 300px; height:200px;" required></textarea><br>

        <label for="image" style="text-align:center;">Image(optional):</label>
    
        <input type="file" name="image" id="image" accept="image/*"  style=" text-align: center; "><br>

        <input type="submit"  value="Upload" style="background-color:red; color:white; border-radius: 20px; padding:10px;">
    </form>
</div>


<script>
        if(localStorage.getItem("userOn") == null){
            localStorage.setItem("userOn","<%= userData %>");
        }   
        var targetInput = document.getElementsByName("title")[0];
        targetInput.value = localStorage.getItem("userOn");

        function signOutUser(){
            localStorage.removeItem("userOn");
            localStorage.clear();
        }

</script>    

<!--  
        <script src="/script.js"></script>
        <script src="/app.js"></script> -->
    </body>
</html>